
__pycache__/
*.py[cod]
*$py.class
*.bak
*.egg-info
.DS_Store
.cache
.mypy_cache
.coverage*

devnotes*
junk
build
dist
.pytest_cache/
.tox/
.eggs/
.coverage
docs/build

quantumflow/version.py

datasets/*.png
datasets/*.npz

devnotes.txt
