# QuantumFlow build, run, and test 

numpy
scipy               >= 1.0.0
tensorflow          >= 1.6.0
# pytorch						# Optional extra
networkx            >= 2.1
sphinx              >= 1.6.6
pytest              >= 2.6.0
pytest-cov
flake8
tox
mypy
pillow
keras
matplotlib
pillow
pyquil	            >= 2.0.0b1
cvxpy
sympy

# Needed for document generation, but not installable via conda
#	guzzle_sphinx_theme			
